In [2]:
import talib
import pandas as pd
import numpy as np
import math
import os
import random
import itertools

def zj05_ind(df,smooth):
    """
    返回zj05 indicator的值
    :param df: 股票行情数据 open high low close volume
    :param smooth: 对原本zj05的值做几日的平滑
    :return: 返回zj05 indicator的值
    """
    var1  = (2 * df.close + df.high + df.low)/4
    sk = talib.EMA(var1, 13) - talib.EMA(var1, 21)
    sd = talib.EMA(sk, 2)
    bullforce = 2*(sk-sd)*3.8
    bearforce = (-2) * (sk-sd)*3.8
    df["force_change"] = talib.EMA((bullforce-bearforce), smooth)
    df2 = df.dropna(axis=0,how='any')
    return df2


def from_local_read_company_name(filepath='D:\\pycharmprojects\\backtrader-general-api\\data\\stocks\\'):
    """
    读取path下的股票名称,返回股票名称列表
    :param filepath:
    :return: 股票名称列表
    """
    filenames = os.listdir(filepath)
    company_names = []
    for filename in filenames:
        filename = filename.replace(".W", "_W")
        company = filename.split('.')[0]
        company_names.append(company)
    return company_names

# 读取数据，计算并返回zj05的值
def main(path,symbol):
    df = pd.read_csv(path+symbol+".CSV")
    df = df[['time', 'open', 'high', 'low', 'close', 'volume']]
    df['time'] = pd.to_datetime(df['time'])
    df = df.sort_index(ascending=False)
    smooth=3
    df = zj05_ind(df, smooth=smooth)
    return df

if __name__ == '__main__':
    path = "../test_data/15min/"
    symbols = from_local_read_company_name(path)
    # print(symbols)
    for symbol in symbols:
        zj05 = main(path,symbol)

In [3]:
zj05

,time,open,high,low,close,volume,force_change
650,2019-06-03 14:00:00,149.606930,150.287428,149.603388,150.194209,62412,0.135960
649,2019-06-03 14:15:00,150.240818,150.548441,150.100990,150.259462,83179,0.159360
648,2019-06-03 14:30:00,150.250140,150.259462,149.802690,149.905230,131833,0.115708
647,2019-06-03 14:45:00,149.961162,150.059042,149.448458,149.550999,86942,0.027384
646,2019-06-03 15:00:00,149.560321,149.653540,149.224733,149.411171,91125,-0.064178
...,...,...,...,...,...,...,...
4,2019-06-28 16:30:00,161.585552,161.585552,161.585552,161.585552,136407,-0.093858
3,2019-06-28 16:45:00,161.585552,161.585552,161.585552,161.585552,5226,-0.092266
2,2019-06-28 17:00:00,161.585552,161.585552,161.585552,161.585552,23800,-0.085026
1,2019-06-28 17:45:00,162.200797,162.200797,162.200797,162.200797,100,0.005670
0,2019-06-28 19:45:00,162.284694,162.284694,162.284694,162.284694,200,0.075502